 <!-- Footer -->
<footer class="bg-light py-5">
    <div class="container">
        <div class="w3-row text-center table table-bordered border-info">
            <div class="row">
                <div class="col-sm">Lunes</div>
                <div class="col-sm">Martes</div>
                <div class="col-sm">Miercoles</div>
                <div class="col-sm">Jueves</div>
                <div class="col-sm">Viernes</div>
                <div class="col-sm">Sabado</div>
                <div class="col-sm">Domingo</div>
            </div>
            <div class="row">
                <div class="col-sm">8:30 - 18:00</div>
                <div class="col-sm">8:30 - 18:00</div>
                <div class="col-sm">8:30 - 18:00</div>
                <div class="col-sm">8:30 - 18:00</div>
                <div class="col-sm">8:30 - 18:00</div>
                <div class="col-sm">Cerrado</div>
                <div class="col-sm">Cerrado</div>
            </div>
        </div>
        <br />
        <br />
        <div class="small text-center text-muted">Copyright &copy; 2019 - SuperMarket</div>

    </div>
    
</footer>